.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  width: 409px;
  min-height: 216px;
  height: auto;
  margin: 63px auto 0 96px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 79px 98px 0 117px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: -65px auto 0 12px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -12px 98px 0 5px;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 5px auto 0 12px;
  padding: 8px 33px;
}

.u-section-1 .u-image-1 {
  width: 325px;
  height: 248px;
  margin: -216px 174px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -232px;
    margin-right: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-image-1 {
    width: 288px;
    height: 193px;
    margin-top: -193px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 511px;
    min-height: 251px;
    margin-top: 66px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 73px;
    margin-right: 213px;
    margin-left: 105px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -51px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: -6px;
    margin-right: 81px;
    margin-left: 22px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 3px;
    margin-left: 28px;
  }

  .u-section-1 .u-image-1 {
    width: 255px;
    margin-top: -258px;
    margin-right: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 48px;
    min-height: 157px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
    margin-right: 168px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -34px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 129px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-left: 17px;
  }

  .u-section-1 .u-image-1 {
    width: 149px;
    height: 108px;
    margin-top: -134px;
    margin-right: -17px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 663px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 95px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 335px;
  background-image: url("images/photoniagara.PNG");
  background-position: 50% 16.49%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 335px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  margin: 36px -41px 0 62px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 23px 17px 0 62px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-2 .u-image-1 {
    min-height: 276px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 65px;
    margin-right: -29px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-left: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2 .u-image-1 {
    min-height: 373px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 42px;
    margin-right: 12px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 23px;
    margin-right: 12px;
    margin-left: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 408px;
    margin: 109px auto 57px;
  }

  .u-section-2 .u-image-1 {
    min-height: 429px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 84px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 41px;
    margin-bottom: 26px;
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 358px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: 168px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  min-height: 851px;
}

.u-section-3 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 431px;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 200;
  margin: 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -215px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 466px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  height: 98px;
  width: 98px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 110px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 108px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 468px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-2 {
  height: 98px;
  width: 98px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 466px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
  height: 98px;
  width: 98px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-6 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-3 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 110px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 110px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 466px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-4 {
  height: 98px;
  width: 98px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-8 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-3 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 779px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -243px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 90px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 89px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 386px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 385px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 90px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 90px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 385px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1005px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 65px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 138px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 136px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 138px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 138px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1667px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 207px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 207px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 207px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 575px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 128px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 130px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 130px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }
}

.u-section-3 .u-icon-1,
.u-section-3 .u-icon-1:before,
.u-section-3 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-1 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-1 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-icon-1 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-1 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-section-3 .u-icon-2,
.u-section-3 .u-icon-2:before,
.u-section-3 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-2 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-2 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-icon-2 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-2 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-section-3 .u-icon-4,
.u-section-3 .u-icon-4:before,
.u-section-3 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-4 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-4 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-icon-4 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-4 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-section-3 .u-icon-3,
.u-section-3 .u-icon-3:before,
.u-section-3 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-3 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-3 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-icon-3 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-3 {
  background-color: #db545a !important;
  opacity: 1 !important;
}.u-section-4 .u-sheet-1 {
  min-height: 622px;
}

.u-section-4 .u-text-1 {
  font-weight: 200;
  font-size: 2.25rem;
  width: 261px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 13px 230px 0 252px;
}

.u-section-4 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 3px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 459px;
  grid-gap: 10px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 37px;
}

.u-section-4 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/photoniagara.PNG");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 33px;
  min-height: 16px;
  width: 162px;
  min-width: 94px;
  margin: 20px 87px 0 64px;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 37px;
}

.u-section-4 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/photoniagara.PNG");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-4 .u-social-icons-2 {
  white-space: nowrap;
  height: 33px;
  min-height: 16px;
  width: 162px;
  min-width: 94px;
  margin: 20px 87px 0 64px;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

.u-section-4 .u-icon-6 {
  height: 100%;
}

.u-section-4 .u-icon-7 {
  height: 100%;
}

.u-section-4 .u-icon-8 {
  height: 100%;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 37px;
}

.u-section-4 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/photoniagara.PNG");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-4 .u-social-icons-3 {
  white-space: nowrap;
  height: 33px;
  min-height: 16px;
  width: 162px;
  min-width: 94px;
  margin: 20px 87px 0 64px;
}

.u-section-4 .u-icon-9 {
  height: 100%;
}

.u-section-4 .u-icon-10 {
  height: 100%;
}

.u-section-4 .u-icon-11 {
  height: 100%;
}

.u-section-4 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 101px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 152px;
    margin-right: 130px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 553px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 42px;
    margin-right: 20px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1271px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 62px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 36px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 165px;
    height: 165px;
    margin-top: 12px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 5px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 5px;
    margin-right: 155px;
    margin-left: 140px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 23px;
    margin-right: 198px;
    margin-left: 160px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    width: 165px;
    height: 165px;
    margin-top: 12px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 5px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 5px;
    margin-right: 155px;
    margin-left: 140px;
  }

  .u-section-4 .u-social-icons-2 {
    margin-top: 23px;
    margin-right: 198px;
    margin-left: 160px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    width: 165px;
    height: 165px;
    margin-top: 12px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 5px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 5px;
    margin-right: 155px;
    margin-left: 140px;
  }

  .u-section-4 .u-social-icons-3 {
    margin-top: 23px;
    margin-right: 198px;
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 66px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 34px;
  }

  .u-section-4 .u-image-1 {
    width: 125px;
    height: 125px;
    margin-right: 105px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 40px;
    margin-right: 55px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 12px;
    margin-right: 92px;
    margin-left: 66px;
  }

  .u-section-4 .u-image-2 {
    width: 125px;
    height: 125px;
    margin-right: 105px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 55px;
    margin-left: 40px;
  }

  .u-section-4 .u-social-icons-2 {
    margin-top: 12px;
    margin-right: 92px;
    margin-left: 66px;
  }

  .u-section-4 .u-image-3 {
    width: 125px;
    height: 125px;
    margin-right: 105px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 55px;
    margin-left: 40px;
  }

  .u-section-4 .u-social-icons-3 {
    margin-top: 12px;
    margin-right: 92px;
    margin-left: 66px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 523px;
}

.u-section-5 .u-slider-1 {
  margin-top: 50px;
  margin-bottom: 60px;
  min-height: 411px;
  height: auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 200;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  width: 840px;
  margin: 93px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 14px auto 0 456px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 45px;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 200;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  margin: 101px 103px 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 46px;
  height: 46px;
  background-image: none;
}

.u-section-5 .u-carousel-control-2 {
  width: 46px;
  height: 46px;
  background-image: none;
  left: auto;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-5 .u-carousel-indicators-1 {
    inset: auto auto 12.5125px 420.25px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 78px;
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-carousel-indicators-1 {
    inset: auto auto 17.5252px 280.238px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 11px;
    margin-left: 240px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 85px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-carousel-indicators-1 {
    inset: auto auto 17.5px 183.912px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 129px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 86px;
    margin-right: 49px;
    margin-left: 39px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 8px;
    margin-left: 166px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-5 {
    width: 428px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: 35px;
    margin-left: 175px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 0;
    position: absolute;
    right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-5 .u-slider-1 {
    margin-top: 100px;
    min-height: 415px;
  }

  .u-section-5 .u-carousel-indicators-1 {
    top: auto;
    bottom: 11px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 28px;
    margin-left: 51px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 18px;
    margin-right: 52px;
    margin-left: 42px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 18px;
    margin-left: 93px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 30px;
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-5 {
    width: 227px;
    margin-top: 17px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 16px;
    margin-left: 110px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 910px;
}

.u-section-6 .u-form-1 {
  height: 309px;
  width: 659px;
  margin: 80px auto 0;
}

.u-section-6 .u-text-1 {
  margin-left: 0;
  font-weight: 400;
}

.u-section-6 .u-input-1 {
  height: 46px;
}

.u-section-6 .u-input-2 {
  height: 46px;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-input-3 {
  height: 46px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100%;
  padding: 13px 0;
}

.u-section-6 .u-list-1 {
  width: 712px;
  margin: 105px auto 60px;
}

.u-section-6 .u-repeater-1 {
  min-height: 225px;
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  grid-gap: 20px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.375rem;
  margin: 0 1px;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 22px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.375rem;
  margin: 0 1px;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 22px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.375rem;
  margin: 0 1px;
}

.u-section-6 .u-text-7 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 22px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 60px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    min-height: 212px;
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-form-1 {
    width: 540px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 512px;
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-6 .u-form-1 {
    height: 500px;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    font-weight: 200;
  }

  .u-section-6 .u-list-1 {
    margin-top: 110px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}.footer {
}